@import "../../main";

$toolbar_height: 7%;

.shadow {
  $right_shadow:  2px 0px 5px 2px #ccc;
  $left_shadow:  -2px 0px 5px 2px #ccc;
  $bottom_shadow: 0px 3px 5px 2px #ccc;

  -webkit-box-shadow: $right_shadow, $left_shadow, $bottom_shadow;
  -moz-box-shadow:    $right_shadow, $left_shadow, $bottom_shadow;
  box-shadow:         $right_shadow, $left_shadow, $bottom_shadow;
}

.main-toolbar {
  background-color: white;
  position: fixed;
  margin-left: 2%;
  margin-right: 2%;
  top: 0;
  width: 95%;
  z-index: 1;
  height: $toolbar_height;

  .main-toolbar-list {
    font-size: 120%;

    .main-toolbar-list__item {
      display: inline;
      list-style-type: none;
      margin: 1%;

      a {
        color: $dark_pink;
        text-decoration: none;

        &:hover {
          color: $light_purple;
        }
      }
    }
  }
}

.main-content {
  margin-top: $toolbar_height;

  p {
    margin-right: 3%;
    margin-left: 3%;
  }
}

