@import "../../main";

$toolbar_height: 7%;
.shadow {
  -webkit-box-shadow: 3px 3px 5px 2px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    3px 3px 5px 2px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         3px 3px 5px 2px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.main-toolbar {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  height: $toolbar_height;

  .main-toolbar-list {
    font-size: 120%;

    .main-toolbar-list__item {
      display: inline;
      list-style-type: none;
      margin: 1%;

      a {
        color: $dark_pink;
        text-decoration: none;

        &:hover {
          color: $light_purple;
        }
      }
    }
  }
}

.main-content {
  margin-top: $toolbar_height;

  p {
    margin-right: 3%;
    margin-left: 3%;
  }
}

