@import "vendor/normalize";
@import "settings";

html {
  font-size: 100%;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif
}

@media(min-width: 40rem){
  html { font-size: 112%; }
}

@media(min-width: 64rem){
  html { font-size: 120%; }
}

ul {
  padding: 0;
}

li {
 list-style: none;
}


a {
  text-decoration: none;
}

.center {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
