@import "vendor/normalize";
@import "settings";

html {
  font-size: 100%;
}

@media(min-width: 40rem){
  html { font-size: 112%; }
}

@media(min-width: 64rem){
  html { font-size: 120%; }
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {

  h2 {
    color: $dark_blue;
  }

  li {
    color: $light_purple;
  }
}
